.main {
  /* text-align: center; */
  /* background: rgb(174, 204, 218); */
  background: rgb(49, 58, 63);
  min-width: 1080px;
  min-height: 789px;
}

.open-window {
  /* appearance: button; */
  /* display: block; */
  width: max-content;
  background-color: azure;
  padding: 10px;
  margin: 1rem;
  text-decoration: none;
  font-size: larger;
}

.open-window:hover {
  background-color: antiquewhite;
}

.adminpanel-body {
  display: flex;
  height: 90vh;
}

.message-panel {
  /* border: 1px solid red; */
  flex: 0.23;
  text-align: center;
  margin-bottom: 5px;
  /* background-color: rgba(255, 235, 205, 0.8); */
  /* background-color: blanchedalmond; */
  background-color: rgb(255, 255, 240);
  background-color: rgb(238, 238, 157);
  border-radius: 3px;
  max-width: 450px;
}

.message-board-container {
  margin: 1rem 0.3rem;
  text-align: center;
}

.message-board {
  height: 73.5vh;
  /* background: rgb(255, 255, 255); */
  overflow-y: auto;
  margin-bottom: 10px;
  scrollbar-width: thin;
}

.message-container {
  display: flex;
  margin: 10px 5px;
  min-height: 50px;
  border-radius: 5px;
  /* height: 8%; */
}

.message {
  background-color: rgb(209, 179, 236);
  height: max-content;
  min-height: 46px;
  width: 87%;
  margin: initial;
  padding: 2px 7px;
  /* line-height: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  /* height: 8%; */
}

.message p {
  height: max-content;
  user-select: all;
  cursor: copy;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  width: 100%;
}

.message-container button {
  /* flex: 1; */
  cursor: pointer;
  color: whitesmoke;
  /* padding: 10px; */
  /* width: 40%; */
  font-size: larger;
  border: none;
  /* border-radius: 5px; */
  background: rgb(221, 62, 62);
  transition: all 0.4s ease 0s;
  border-radius: 0 5px 5px 0;
}

.noselect {
  user-select: none;
}

.message-container button:hover {
  /* color: whitesmoke; */
  background-color: rgb(238, 103, 103);
  transition: all 0.4s ease 0s;
}

.message-box {
  /* height: max-content; */
  display: flex;
  /* justify-content: flex-end; */
  /* width: max-content; */
  /* border: 1px solid greenyellow; */
}

.message-box input {
  height: 6.2vh;
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;
}

.message-box button {
  flex: 1;
  /* margin-left: 5px; */
}

/* .message-panel button {
  cursor: pointer;
  color: black;
  padding: 10px;
  width: 60%;
  font-size: larger;
  border: none;
  border-radius: 50px;
  background: #60a3bc;
  transition: all 0.4s ease 0s;
}

.message-panel button:hover {
  color: whitesmoke;
  background-color: red;
  transition: all 0.4s ease 0s;
} */

.control-panel {
  /* border: 2px solid blue; */
  /* border-left: 5px double black; */
  margin: 0 5px 5px;
  /* background-color: rgba(192, 245, 142, 0.9); */
  background-color: blanchedalmond;
  flex: 0.55;
}

.control-panel-wrapper {
  margin: 1rem 0;
  text-align: center;
  scrollbar-width: thin;
}

.control-panel h2 {
  margin-bottom: 5px;
  /* width: max-content;
  margin: 10px auto; */
  /* border: 1px solid red; */
}

.panel-container {
  height: 81vh;
  overflow-y: auto;
  /* border: 1px solid black; */
}

.token-container {
  display: flex;
  margin: auto;
  width: max-content;
  flex-direction: column;
  margin-top: 10px;
  /* border: 1px solid red; */
}

.btnContainer {
  display: block;
  width: max-content;
  margin: auto;
}

.doc-counter {
  text-align: center;
  /* margin-bottom: 10px; */
  border: 1px solid black;
  background-color: azure;
  min-width: 450px;
  width: 100%;
  /* height: 70px; */
  display: flex;
}

/* .doc-counter button  */
.token-control {
  /* flex: 0.3; */
  width: 3rem;
}

/* .doc-counter h3  */
.doc-counter-mainview {
  flex: 1;
  align-self: center;
  padding: 10px;
  width: 460px;
}
/* .doc-counter div:nth-child(5) */
.token-counter-view {
  width: 100px;
  background-color: black;
  color: red;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-counter-view span {
  /* border: 1px solid snow; */
  /* vertical-align: middle; */
  font-size: 3rem;
}

/* .doc-counter div:nth-child(6)  */
.token-counter-delete {
  /* width: 100px; */
  /* background-color: red; */
  /* color: black; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.token-counter-delete button {
  cursor: pointer;
  background: rgb(240, 74, 68);
  padding-right: 5px;
}

.token-counter-delete button:hover {
  background: rgb(241, 102, 97);
}

.collapse-control {
  cursor: pointer;
  width: 30px;
  background: rgb(4, 161, 4);
}

.collapse-control:hover {
  background: rgb(28, 143, 28);
}

.collapse-container {
  color: white;
  /* margin-bottom: 10px; */
  background: rgb(36, 32, 32);
  height: 2.5rem;
  width: 90%;
  align-self: center;
  display: flex;
  justify-content: center;
  /* display: none; */
  /* transition: display 0.2s ease-out; */
}

.collapse-container-close {
  display: none;
}

.collapse-container-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: row; */
}

.collapse-form-checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.collapse-form-checkbox + span {
  position: relative;
  top: -0.1rem;
}

.collapse-form-input {
  height: 1.8rem;
  width: 300px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 5px;
  padding-left: 0.5rem;
  margin-left: 5rem;
}

.collapse-container-form button {
  height: 2rem;
  width: 6rem;
  margin-left: 0.75rem;
}
.editable:empty:before {
  content: attr(placeholder);
  color: rgba(243, 243, 243, 0.521);
}

.doctor-selection-container {
  /* border: 2px solid springgreen; */
  flex: 0.22;
  background-color: gray;
  margin-bottom: 5px;
  /* display: block; */
  /* height: 90vh; */
  overflow: auto;
  border-radius: 3px;
  /* padding-top: 3em; */
  scrollbar-width: thin;
}

.doctor-selection-container div {
  width: max-content;
  margin: 1rem auto;
  color: rgb(219, 240, 240);
  text-align: center;
}

/* .doctor-selection-container button {
  display: block;
  width: 80%;
  height: 3em;
  margin: 1em auto;
} */
.doctor-control {
  display: block;
  width: 80%;
  height: 3em;
  margin: 1em auto;
}
.doctor-control:hover {
  background-color: coral;
}

.doctor-control-toggle {
  display: none;
}

/* .doctor-label {
  display: block;
  width: 80%;
  height: 3em;
  margin: 1em auto;
} */
