:root {
  --card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* --header-height: 9vh; */
  --header-height: 10.1vh;
  --mainbody-height: 85vh;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #777 #d6d6d6;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
}

* {
  margin: 0;
}
.marquee-scroll-left {
  position: relative;
  color: azure;
  font-weight: 500;
  font-size: 2.8rem;
  height: 100%;
  overflow-wrap: break-word;
  margin: auto;
  text-align: center;
  overflow: visible;
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* width: 100%; */
  /* direction: rtl; */
  /* line-height: 50px; */
  /* border: 2px solid red; */
}

.app {
  /* display: flex;
  flex-direction: column;
  overflow: hidden; */
  height: 100vh;
}

/* NavBar Div */
.appc:nth-child(1) {
  height: 10.1vh;
  min-height: 80px;
}

.appc:nth-child(2) {
  height: 82vh;
  min-height: 645px;
  overflow: auto;
  /* animation: marquee 20s linear infinite; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bill-view {
  /* border: 1px solid snow; */
  height: 82vh;
  min-height: 645px;
  width: 17.7vw;
  /* background-color: rgb(112, 112, 112); */
  border-bottom: 1px solid rgb(49, 58, 63);
  text-align: center;
  color: snow;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: rgb(236 236 236);
  /* background: linear-gradient(to bottom left, #ada996, #f2f2f2, #dbdbdb, #eaeaea) */
  /* transform: translateX(17.6vw); */
  /* display: none; */
}

.test-results {
  display: flex;
  flex-direction: column;
}

.bill-view p {
  font-size: 2.5rem;
  padding: 0.246rem;
  border-top: 1px solid rgb(49, 58, 63);
  /* overflow: visible; */
  /* overflow-wrap: break-word; */
  white-space: nowrap;
  color: #c53535;
  color: black;
  letter-spacing: 5px;
  font-weight: 700;
}

@keyframes amarquee {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.appc:nth-child(3) {
  height: 7.9vh;
  min-height: 60px;
  display: flex;
  /* justify-content: center; */ /*Never Add Justify Content*/
  /* align-items: center; */
  /* border: 1px solid blue; */
  background-color: rgb(112, 112, 112);
  background: linear-gradient(to right, #0f2027, #203a43, #11232b);
}

.poweredby {
  position: absolute;
  bottom: 0px;
  color: #f5f5dc0a;
  width: 100%;
  text-align: right;
  text-decoration: none;
  font-size: 12px;
}

body {
  margin: 0;
  /* min-width: 1240px;
  min-height: 789px; */
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* text-align: center; */
  /* background-color: rgb(239, 168, 168); */
  background: rgb(49, 58, 63);
  /* background: rgb(213, 240, 255); */
  min-width: 1200px;
  /* min-height: 740px; */
}
#navbar {
  height: var(--header-height);
  min-height: 5rem;
  background-color: rgb(112, 112, 112);
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #11232b);
}

.logo {
  height: var(--header-height);
  width: var(--header-height);
  min-width: 5rem;
  min-height: 5rem;
  position: absolute;
}

.title {
  flex: 1;
  align-self: center;
  text-align: center;
  color: azure;
  font-size: 3.5rem;
  margin: 0px;
  position: relative;
  top: -0.2rem;
}

.clock-wrapper {
  position: absolute;
  right: 0;
  height: var(--header-height);
  min-height: 5rem;
  min-width: 17rem;
  background-color: rgb(214, 95, 95);
  color: azure;
  font-weight: 500;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

.clock-wrapper span {
  padding: 0 2px;
  margin: 2px 0;
  /* font-size: 3.5rem; */
  position: relative;
  top: -0.2rem;
  /* border: 2px solid black; */
}

.clock-wrapper span:nth-child(2) {
  animation: secondBlink 1s infinite;
  top: -0.1em;
}

@keyframes secondBlink {
  50% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

/* ⬇⬇⬇ Main Body Styles ⬇⬇⬇ */
#main-body {
  /* height: 88vh; */
  margin: 0;
  padding-top: 0.5rem;
  height: 100%;
  width: 100%;
  /* overflow: scroll; */
}

.disptoken-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 1rem;
}

.token-card {
  line-height: 10rem;
  height: 10rem;
  /* cursor: text; */
  font-size: 2rem;
  /* margin: 0 5% 1.5%; */
  margin: 0 5%;
  border-radius: 10px;
  /* margin: 0; */
  /* padding: 0 2rem; */
  /* background-color: azure; */
  /* background-color: rgb(201, 237, 241); */
  background-color: rgb(196 217 226);
  /* background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); */
  box-shadow: var(--card-shadow);
  display: flex;
  justify-content: space-between;
}

.token-card img {
  /* height: 10rem; */
  width: 10rem;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 0 0 10px;
}

/* .token-card div:nth-child(2) */
.token-name {
  display: flex;
  /* width: 80%; */
  flex-grow: 1;
  align-items: center;
  /* border: 2px solid blueviolet; */
}

.token-card h1 {
  margin: 0 1rem;
  line-height: initial;
  text-align: initial;
  /* margin-block-start: 10px; */
  /* border: 2px solid green; */
  /* margin-block-end: initial; */
}

/* .token-card div:last-child */
.token-number {
  line-height: initial;
  /* background-color: black; */
  background-color: rgb(196, 41, 41);
  background-color: #e3b757;
  color: rgb(30, 30, 31);
  /* background-color: rgb(42, 116, 165);
  color: rgb(239, 247, 252); */
  width: 16vw;
  max-width: 240px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  font-size: 7rem;
}

.token-card span {
  /* display: inline; */
  /* font-size: 7rem; */
  position: relative;
  top: -0.1em;
  font-weight: bold;
  /* border: 2px solid coral; */
}

.doctor-msg {
  background: rgb(24, 24, 24);
  background: #726a67;
  height: 4rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 5%; */
  width: 90%;
  min-width: 960px;
  align-self: center;
  border-radius: 0 0 10px 10px;
  /* border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black; */
  /* border: 1px solid black; */
}

.doctor-msg-close {
  display: none;
}

.doctor-msg span {
  /* color: brown;
  color: #759eb2; */
  color: #e3b757;
  font-weight: 800;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  top: -0.1em;
  width: 100%;
  min-width: 960px;
  /* max-width: 1250px; */
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  /* max-width: 1200px; */
}

.slider {
  /* background-color: aliceblue; */
  /* margin: 1rem; */
  /* border-radius: 10px; */
  /* height: 7vh; */
  /* height: 90%; */
  width: 100%;
  /* padding: 1rem; */
  /* z-index: 99; */
}

.slider-content {
  /* display: inline; */
  /* height: 100%; */
  width: max-content;
  /* vertical-align: middle; */
  /* background-color: brown; */
  /* border: 1px solid red; */
  margin: auto;
  /* margin-top: 2rem; */
}

/* .slider div:nth-of-type(1) {
  background-color: brown;
} */

.slider-view {
  /* height: 68vh; */

  /* background-color: blue; */
  /* background-color: green; */
  /* padding: 1rem; */
  /* border: 1px solid red; */
  /* padding-top: 10px; */
}

.box {
  /* height: 68vh; */
  height: 73vh;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: auto;
  /* z-index: -1; */
  /* align-items: center; */
  /* background-color: blueviolet; */
}

/* .dotGroup {
  display: inline-flex;
  align-items: center;
} */

.dotGroup button {
  pointer-events: none;
  background: none;
  margin: 0 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(196, 217, 226);
  /* border: 3px solid #2ecc71; */
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dotGroup button:disabled {
  width: 45px;
  height: 45px;
  background: rgb(236, 236, 236);
  border: 3px solid rgb(236, 236, 236);
  /* background: #2ecc71;
  border: 3px solid #2ecc71; */
  /* background: rgb(196, 41, 41);
  border: 3px solid rgb(196, 41, 41); */
}

/* .dotGroup button:disabled:after {
  content: "";
  background: #c53535;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
} */
